.populares{
  background-color: var(--color-primario-900);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}
.populares .categorias{
  padding-bottom: 1rem;
  font-size: var(--fs-titulo);
  font-weight: bold;
  text-align: start;
}

.grilla{
  display: grid;
  justify-content: center;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  max-width: 1000px;
}

.grilla .card{
  color: var(--color-primario-100);
  display: grid;
  border-radius: 20px;
  overflow: hidden;
}

.grilla .card img{
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.grilla .card div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  background-color: var(--color-primario-800);
}
.grilla .card button{
  display: flex;
  align-items: center;
  column-gap: .3rem;
  align-self: flex-end;
  background-color: transparent;
}

.grilla .card button img{
  width: 20px;
  height: 20px;
}

.card .nombre_juego{
  font-size: var(--fs-texto);
  font-weight: bold;
}

.card .precio{
  font-size: var(--fs-subtitulo);
  font-weight: bold;
}