body {
    background-color: #0C0D14;
}


/* .encabezado {

    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202126;


}
*/
.menu_hamurgresa {
    width: 30px;
    background-color: #9BCEDD;
    margin: 30px;
    cursor: pointer
}

.logo {

    padding-right: 2px;
    width: 148px;
    height: 98px;
    background-color: #9BCEDD;
    margin: 40px;
    cursor: pointer
} 
/*
.barra_busqueda {
    display: flex;
    align-items: center;
    width: 400px;
    margin: auto;
}

.busqueda_input::placeholder {
    padding-left: 10px;
    color: #F3F3E6;
    margin: 0 auto;
}

.busqueda_input {
    height: 40px;
    width: 380px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #5C5D5D;
    margin: 0 auto;
    border-style: none;
}

.lupa_button {
    height: 42px;
    width: 45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #5C5D5D;
    margin: 0 auto;
    border-style: none;
    cursor: pointer
}


.carrito_button {
    background-color: #2021265D;
    margin: 0 auto;
    width: 102px;
    height: 40px;
    color: #9BCEDD;
    border-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;

}

.login {
    margin-right: 30px;
    cursor: pointer;
    background-color: #5C5D5D;
    border-style: none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
} */

/* Las imagenes de blizzard, riot games, etc */
footer img{
    width: 100px;
    height: 100px;
}

/* .categorias {
    color: #9BCEDD;
    margin-left: 130px;
    margin-top: 75px;
    background-color: #0C0D14;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
} */

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 150px;
    /* Ancho deseado del carrusel */
    margin: 0 auto;
}

.carousel-slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.grilla {
    display: grid;
    width: 100%;
    max-width: 900px;
    padding: 1rem;
    margin-inline: auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card{
    color: red;
    background-color: yellow;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card > div{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: aqua;
}

.card button{
    width: fit-content;
    align-self: flex-end;
}
.card img{
    width: 100%;
    height: 8rem;
    object-fit: cover;
    object-position: center;
}

